.signal {
  width: 300px;
}

.right {
  transform: translateX(200px);
  width: 100px;
}

.left {
  width: 100px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
